

$white:                             #fff;            
$primary:                           #4453AB;
$secondary:                         #dfdfdf; // #dbdbdb; 

$success:                           #A2C9A1;
$warning:                           #FCF8E4;
$danger:                            #F3DEDE;

$alert-success:                     $success;
$alert-warning:                     $warning;
$alert-danger:                      $danger;   


$btn-info:                          #17a2b8;
$btn-success:                       #28a745;
$btn-warning:                       #ffc107;
$btn-primary:                       #0074cc;
$btn-secondary:                     $secondary;
$btn-danger:                        #dc3545;


$body-color:                        #333333;

// $body-bg:                           $secondary;


$font-family-arial:                 Arial, sans-serif, Helvetica;
$font-family-base:                  $font-family-arial;
$font-size-base:                    0.9rem;



$input-focus-border-color:          lighten($primary, 25%); 
$custom-select-focus-border-color:  lighten($secondary, 25%);
$custom-file-focus-box-shadow:      0 0 0 .075rem $white, 0 0 0 .0rem $primary;

$input-box-shadow:                  inset 0 1px 1px rgba(0,0,0,.075);

$input-btn-focus-width:             0.01rem;
$input-btn-focus-color:             rgba($primary, .25);
$input-btn-focus-box-shadow:        0 0 0.3rem $input-btn-focus-width $input-btn-focus-color;

$card-spacer-y:                     .5rem;
$card-spacer-x:                     1rem;

$enable-shadows:                    true;
$table-head-color:                  #777873;


$border-radius:                     0rem;
$border-radius-lg:                  0rem;
$border-radius-sm:                  0rem;

/*  add 4px border to all kinds of buttons globally */

$btn-border-radius:                 4px;
$btn-border-radius-lg:              $btn-border-radius;
$btn-border-radius-sm:              $btn-border-radius;

$input-border-radius:               4px;
$input-border-radius-lg:            $input-border-radius;
$input-border-radius-sm:            $input-border-radius;

$input-btn-line-height-lg:          1.3;
$input-btn-line-height-sm:          1.3;
$input-btn-line-height:             1.3;
//cards

$card-cap-bg:                       $white;


